@font-face { font-family: avenir; src: url('/fonts/AvenirLTStd-Heavy.otf'); } 

body{
    background-image: url(/images/pagebg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: avenir, sans-serif;
}

h1{
    line-height: 1.1em;
    font-size: 80px;
    word-wrap: break-word;
    text-align: start;
}

p{
    line-height: 1.5em;
    word-wrap: break-word;
    text-align: start;
}

h2{
    font-size: 46px;
    line-height: 1.1em;
    font-family: avenir,sans-serif;
}

#container1 {
    margin-top: 10%;
    height:700px;
}

#container1 h1{
    color: white;
}

#container1 p{
    color: white;
}

#c1left {
    float: left;
    margin-left: calc((100% - 980px) * 0.5);
    left: 11px;
    width: 364px;
    position: absolute;
    pointer-events: none;
}

#c1right {
    float: right;
    width: 25%;
    height: 300px;
    margin-right: calc((100% - 980px) * 0.5);
}

#c1right span{
    color: #10e698;
    font-size: 38px;
    line-height: 1.1em;
    font-family: avenir,sans-serif;
}

#c1raddrsearch {
    background-color: rgba(13, 25, 38, 1);
    width: 498px;
    height: 555px;
    top: -500px;
    position: relative;
}

#c1rtext {
    padding:30px;
}

#c1rbottom {
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
}

#c1rbottom input {
    font-family: avenir,sans-serif;
}

.ui-menu {
    font-family: avenir,sans-serif;
}

#c1rborder {
    border: 10px solid white;
    width:498px;
    height:555px;
    top:25px;
    left:75px;
    position:relative;
}

.btn-primary {
    color:#0d1926;
    background-color: #10e698;
}

#search {
    margin-top:15px;
}

.btn-primary:hover{
    background-color:07a96e
}

#container2{
    width:100%;
    min-width:980px;
    height:708px;
    background-color:white;
    padding-left: calc((100% - 980px) * 0.5);
    padding-right: calc((100% - 980px) * 0.5);
    padding-top: 60px;
}

#container2 h2{
    color: #2F4A69;
}

#c2smalltext{
    width:45%;
    color:#182d4596;
    margin:15px;
}
