@font-face { font-family: avenir; src: url('/fonts/AvenirLTStd-Heavy.otf'); } 

body{
    background-image: url(/images/pagebg.jpeg);
    background-size: cover;
    font-family: avenir, sans-serif;
}

h1{
    color: white;
    line-height: 1.1em;
    font-size: 80px;
    word-wrap: break-word;
    text-align: start;
}

p{
    line-height: 1.5em;
    color: white;
    word-wrap: break-word;
    text-align: start;
}

#container1 {
    margin-top: 10%;
}


#c1left {
    float: left;
    margin-left: calc((100% - 980px) * 0.5);
    left: 11px;
    width: 364px;
    position: absolute;
    pointer-events: none;
}

#c1right {
    float: right;
    width: 25%;
    height: 300px;
    margin-right: calc((100% - 980px) * 0.5);
}

#c1right span{
    color: #10e698;
    font-size: 38px;
    line-height: 1em;
    font-family: avenir,sans-serif;
}

#c1raddrsearch {
    background-color: rgba(13, 25, 38, 1);
    width: 498px;
    height: 555px;
    top: 95px;
    position: relative;
}

#c1rtext {
    padding:30px;
}

#c1rbottom {
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
}

#c1rbottom input {
    font-family: avenir,sans-serif;
}

.ui-menu {
    font-family: avenir,sans-serif;
}
